@import url("https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp%27");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(60, 59, 59);
  font-size: 16px;
}

main {
  
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
}

.cadastroLogin {
  color: white;
  background-color: rgb(26, 25, 27);
  padding: 24px;
  width: 404px;
  margin-left: 12px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  }

  input{
    border-radius: 12px;
    height: 28px;
  }

.btn_div{
  margin-top: 20px;
  margin: auto;
  padding-top: 10px;
  align-items: center;
}

.btn{
  width: 100px;
  color: white;
  background-color: rgb(30, 134, 219);
  border-radius: 50px;
}

  .ingressar a{
    color: white;
    /* text-decoration: none; */
  }

.erro{
    list-style: none;
    color: rgb(16, 133, 216);
    font-weight: bold;
  }

  .main-header {
    color: white;
    background-color: #0c0c0c;
    width: 100%;
    margin: 0 auto;
}


.main-header nav ul{
  
  display: flex;
  margin-left: 20px;
  list-style: none;
  height: 32px;
  /* gap: 1450px; */
  gap: 1200px;
  
}

.nomeUsuario{
  font-size: 14px;
  color: rgb(30, 134, 219);
  font-weight: bold;
  margin-top: 6px;
}

.btn-finalizar{
  color: white;
  margin-top: 1px;
  width: 130px;
  height: 28px;
  background-color: rgb(241, 38, 16);
  border-radius: 50px; 
}

.main-header a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.input-tasks{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}


 .form-tarefas input{
  margin-top: 32px;
  width: 600px;
}
 
 .form-tarefas input::placeholder{
  text-align: center;
}

.material-icons-outlined{
  color: rgb(30, 134, 219);
  font-weight: bold;
  height: 28px;
  margin: 0 auto;
  align-items: center;
  /* border-radius: 40px; */
  margin-top: 32px;
}

.not-done{
  display: flex;
  align-items: center;
  gap: 2px;
}

.tarefas{
  margin-left: 10px;
}
.pendentes{
  height: 300px;
  margin-top: 24px;
}


