@import url("https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp%27");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  /* background-color: rgb(60, 59, 59); */
  font-size: 1.6rem;
  background-image: url("https://miro.medium.com/max/1400/1*a2a7mb3U47iw5SwWtoL7FQ.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: bold;
}
main {
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
}

.cadastroLogin {
  position: relative;
  color: white;
  /* background-color: rgb(26, 25, 27); */
  padding: 2.4rem;
  width: 40.4rem;
  margin-left: 1.2rem;
  border-radius: 1.0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.7rem;
}

input {
  border-radius: 1.2rem;
  height: 2.8rem;
}

/* .btn_div {
  margin-top: 20px;
  margin: auto;
  padding-top: 10px;
  align-items: center;
} */

.btn {
  width: 15.0rem;
  height: 2.8rem;
  color: white;
  background-color: rgb(30, 134, 219);
  border-radius: 5.0rem;
}

.ingressar a {
  color: white;
  /* text-decoration: none; */
}

.erro {
  list-style: none;
  color: rgb(16, 133, 216);
  font-weight: bold;
}

.form_cadastro input::placeholder {
  text-align: center;
  font-weight: bold;
}

.main-header {
  color: white;
  background-color: #0c0c0c;
  width: 100%;
  margin: 0 auto;
}

.main-header nav ul {
  display: flex;
  margin-left: 2.0rem;
  list-style: none;
  height: 3.2rem;
  gap: 35.0rem;
}

.nome-usuario {
  font-size: 1.4rem;
  color: rgb(30, 134, 219);
  font-weight: bold;
  margin-top: 0.6rem;
}

.email-usuario {
  font-size: 1.4rem;
  color: rgb(30, 134, 219);
  font-weight: bold;
  margin-top: 0.6rem;
}

.btn-finalizar {
  color: white;
  margin-top: 0.1rem;
  width: 15.0rem;
  height: 2.8rem;
  background-color: rgb(241, 38, 16);
  border-radius: 5.0rem;
}

.main-header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.input-tasks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.form-tarefas input {
  margin-top: 3.2rem;
  height: 3.4rem;
  width: 60.0rem;
}

.form-tarefas input::placeholder {
  text-align: center;
  font-weight: bold;
}

.material-icons-outlined {
  color: #1e86db;
  font-weight: bold;
  height: 2.8rem;
  margin: 0 auto;
  align-items: center;
  /* border-radius: 40px; */
  margin-top: 3.2rem;
}

.not-done {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.tarefas {
  color: rgb(246, 243, 249);
  display: flex;
  gap: 16.8rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  margin-top: 5.0rem;
}


.tarefas-pendentes{
  list-style: none;
  align-items: center;
}



.finalizar{
  color: rgb(185, 22, 22);
  font-weight: bold;
  height: 3.0rem;
  width: 5.0rem;
  background-color: rgb(72, 69, 69);
  border-radius: 5.0rem;

}

.tarefa-pedente{
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-top: 2.0rem;
  /* background-color: rgb(19, 18, 18); */
}

.tarefa-pedente li{
  color: #1e86db;
  font-size: 2.8rem;
  font-weight: bold;
   /* margin-top: 2.0rem; */
}

.tarefa-pedente button{ 
  height: 2.8rem;
  width: 8.0rem;
  text-align: center;
  border-radius: 5.0rem;
}

.remover{
  color: white;
  background-color: rgb(209, 42, 42);

}

.concluida{
  font-size: 2.0rem;
  color: green;
}


.tarefa-concluida{
  display: flex;
  gap: 1.4rem;
  align-items: center;
  list-style: none;
  align-items: center;
  margin-top: 2.0rem;
}

.tarefa-concluida li{
  font-size: 2.4rem;
  text-decoration: line-through
}

.tarefa-concluida button{ 
  height: 2.8rem;
  width: 8.0rem;
  text-align: center;
  border-radius: 50px;
}

@media only screen and (max-width: 95rem){
    html{
      font-size: 60%;
    }
}

@media only screen and (max-width: 65rem){
  html{
    font-size: 58%;
  }
}
