@import url("https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp%27");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* background-color: rgb(60, 59, 59); */
  font-size: 1.6rem;
  background-image: url("https://miro.medium.com/max/1400/1*a2a7mb3U47iw5SwWtoL7FQ.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.title {
  font-weight: bold;
}
main {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
}

.cadastroLogin {
  position: relative;
  color: #ffffff;
  /* background-color: rgb(26, 25, 27); */
  padding: 2.4rem;
  width: 40.4rem;
  margin-left: 1.2rem;
  border-radius: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #00000066;
  border-radius: 0.7rem;
}

input {
  border-radius: 1.2rem;
  height: 2.8rem;
}

/* .btn_div {
  margin-top: 20px;
  margin: auto;
  padding-top: 10px;
  align-items: center;
} */

.btn {
  width: 15rem;
  height: 2.8rem;
  color: white;
  background-color: #1e86db;
  border-radius: 5rem;
}

.ingressar a {
  color: #ffffff;
  /* text-decoration: none; */
}

.erro {
  list-style: none;
  color: #1085d8;
  font-weight: bold;
}

.form_cadastro input::placeholder {
  text-align: center;
  font-weight: bold;
}

.main-header {
  color: white;
  background-color: #0c0c0c;
  width: 100%;
  margin: 0 auto;
}

.main-header nav ul {
  display: flex;
  align-content: stretch;
  margin-left: 2rem;
  list-style: none;
  height: 3.2rem;
  gap: 55rem;
}

.nome-usuario {
  font-size: 1.4rem;
  color: #1e86db;
  font-weight: bold;
  margin-top: 0.6rem;
}

.email-usuario {
  font-size: 1.4rem;
  color: #1e86db;
  font-weight: bold;
  margin-top: 0.6rem;
}

.btn-finalizar {
  color: #ffffff;
  margin-top: 0.1rem;
  width: 15rem;
  height: 2.8rem;
  background-color: #f12610;
  border-radius: 5rem;
}

.main-header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.input-tasks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.form-tarefas input {
  margin-top: 3.2rem;
  height: 3.4rem;
  width: 60rem;
}

.form-tarefas input::placeholder {
  text-align: center;
  font-weight: bold;
}

.material-icons-outlined {
  color: #1e86db;
  font-weight: bold;
  height: 3.2rem;
  margin: 0 auto;
  align-items: center;
  /* border-radius: 40px; */
  margin-top: 3.2rem;
}

.div-form {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.tarefas {
  color: #f6f3f9;
  display: flex;
  flex-grow: 1;
  align-content: stretch;
  justify-content: center;
  text-align: center;
  gap: 16.8rem;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  margin-top: 5rem;
}

.tarefas-pendentes {
  list-style: none;
  align-items: center;
}

.finalizar {
  color: #b91616;
  font-weight: bold;
  height: 3rem;
  width: 5rem;
  background-color: #484545;
  border-radius: 5rem;
}

.tarefa-pedente {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-top: 2rem;
  /* background-color: rgb(19, 18, 18); */
}

.tarefa-pedente li {
  color: #1e86db;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  /* margin-top: 2.0rem; */
}

.tarefa-pedente button {
  height: 2.8rem;
  width: 8rem;
  text-align: center;
  border-radius: 5rem;
}

.remover {
  color: #ffffff;
  background-color: #d12a2a;
}

.concluida {
  font-size: 2rem;
  color: #ffffff;
  background-color: #008000;
}

.tarefa-concluida {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-top: 2rem;
}

.tarefa-concluida li {
  font-size: 2.8rem;
  color: #1e86db;
  text-decoration: line-through;
  text-align: center;
}

.tarefa-concluida button {
  height: 2.8rem;
  width: 8rem;
  text-align: center;
  border-radius: 50px;
}
span{
  font-weight: bold;
}

@media only screen and (max-width: 95rem) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 65rem) {
  html {
    font-size: 58%;
  }
}
